.rx-button {
    --rx-color: var(--rx-primary);
    --rx-color-rotate: var(--rx-primary);
    --rx-color-darken: var(--rx-primary);

    // component vars
    --rx-button-padding: 8px 12px;
    --rx-button-margin: 5px;
    --rx-button-border-radius: 12px;
    --rx-button-text-color: #fff;
    --rx-shadow-color: 0,0,0;
}
